.DS_Store
*.log

**/node_modules/
**/dist/
**/dist-ssr/
**/.mastra/

backend/.env
backend/.env.*
backend/api/.env
backend/api/.env.*
backend/orchestrator/.env
backend/orchestrator/.env.*
frontend/.env
frontend/.env.*
